.loadingMessage {
  padding: 15rem 0rem 0rem 0rem;
  width: 100%;
  text-align: center;
}

.container {
  padding: 0;
  margin: 0;
  padding: 5rem 0rem 0rem 0rem;

  img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;
  padding-bottom: 2rem;

  aside {
    margin: 0 auto;
    width: 20rem;
    height: 4rem;
    background-color: #737380;
    display: flex;
    align-items: center;
    border-radius: 100px;
    transition: filter 0.2s;

    a {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0 auto;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }

  h1 {
    display: block;
    font-size: 3rem;
    margin-top: 1.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    text-align: center;
  }

  .postDetailsContainer {
    display: flex;
    align-items: center;
    margin-top: 2.6rem;

    * {
      font-size: 1.1rem;
      line-height: 1rem;
      font-weight: 400;
      color: var(--gray);
    }

    p,
    time {
      margin-left: 9px;
      margin-right: 29px;
    }
  }

  .editPostDateContainer {
    margin-top: 1rem;
    time {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 400;
      font-style: italic;
      color: var(--gray);
    }
  }

  article {
    h2 {
      margin-top: 5rem;
      font-size: 2rem;
    }

    .postContent {
      margin-top: 4rem;

      * {
        color: var(--gray);
      }

      strong {
        color: var(--white);
      }

      a {
        color: var(--pink);
        margin-left: 0.5rem;

        &:hover {
          text-decoration: underline;
        }
      }

      p,
      ul {
        margin: 1.5rem 0;
      }

      p {
        font-size: 1.2rem;
        text-align: justify;
      }

      ul {
        padding-left: 1.5rem;

        li {
          margin: 0.5rem 0;
        }
      }
    }
  }

  .changePageContainer {
    display: flex;
    padding-top: 3rem;
    margin-top: 2rem;
    border-top: solid 1px #494949;

    div {
      min-width: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;

      h6 {
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: auto;
        max-width: 90%;
        text-align: justify;
      }

      a {
        margin-top: 1.6rem;
        color: var(--pink);

        transition: text-decoration 0.2s;

        &:hover {
          text-decoration: underline;
        }
      }

      &.nextPage {
        align-items: flex-end;
        * {
          text-align: end;
        }
      }
    }
  }
}
