.headerContainer {
  height: 6rem;
  border-bottom: 1px solid var(--gray-800);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-body);
}

.headerContent {
  max-width: 800px;
  height: 8rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
